# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build / output folders
dist/
build/

# Mac OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Misc
*.sqlite
*.db